@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Devanagari:wght@400;500;700&display=swap");

.btn {
  @apply font-medium px-12 py-1;
}

.btn-primary {
  @apply bg-gradient-to-r from-purple-dark to-purple-light text-white border;
}

.btn-primary:hover {
  @apply from-purple-light to-purple-dark;
}

.btn-gradient {
  border-style: solid;
  border-image-slice: 1;
  border-width: 2px;
  border-image-source: linear-gradient(120deg, #66ffc8, #509e8c);
}

.btn-gradient:hover {
  border-image-source: linear-gradient(120deg, #509e8c, #66ffc8);
}

.doc-shadow {
  box-shadow: 0px 5.4px 5.3px rgba(0, 0, 0, 0.02),
    0px 18.1px 17.9px rgba(0, 0, 0, 0.03), 0px 81px 80px rgba(0, 0, 0, 0.05);
}
